#page-home{
    height: 100vh;
    background: url(../assets/home-background.svg) no-repeat;
    background-position:35vw center;
}

.content{
    width: 90%;
    max-width: 1100px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    height: 100%;
}

#page-home header{
    margin-top: 48px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    display:flex;
    color:var(--title-color);
    font-weight: 700;
}

header span{
    margin-right: 16px;
    display:flex;

    background: url(../assets/log-in.svg) no-repeat;

    width: 20px;
    height: 20px;
}

#page-home main{
    max-width: 560px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h1{
    font-size: 54px;
}

main p{
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

main a {
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    display:flex;
    align-items: center;
    margin-top: 40px;
    background: var(--primary-color);
    transition: 0.4s;
}

main a:hover{
    background: var(--hover-color);
}

main a span{
    width: 72px;
    height: 72px;
    background: rgba(0,0,0,0.08);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
}

main a span::after{
    content: '';
    background: url(../assets/search.svg);
    width: 20px;
    height: 20px;
}

main a strong{
    color:white;
    flex:1;
    text-align: center;
}
