:root{
    --title-color: #322153;
    --primary-color: #F9A826;
    --background-color: #f0f0f5;
    --hover-color: #ffc445;
}

*{
    font-family: Roboto, sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline:none;
}
body{
    background: var(--background-color);
    -webkit-font-smoothing:antialiased;
}

a{
    text-decoration: none;
}

h1, h2 ,h3 ,h4, h5,h6{
    color:var(--title-color);
    font-family: Ubuntu, sans-serif;
}


